---
import StarRating from "@/components/StarRating.astro";

export interface Service {
    id: number;
    title: string;
    price: number;
    description: string;
    category: string;
    image: string;
    rating: {
        rate: number;
        count: number;
    };
}

interface Props {
    service: Service;
}

const { service } = Astro.props;
---

<div
    class="flex flex-col overflow-hidden transition duration-300 ease-in-out transform rounded-lg shadow-md bg-gray-50 hover:-translate-y-1 hover:shadow-xl"
>
    <div class="flex-grow p-5">
        <div
            class="flex items-center justify-center h-48 mb-4 overflow-hidden bg-gray-200 rounded-md"
        >
            <img
                src={service.image}
                alt={service.title}
                class="object-contain h-full transition duration-300 ease-in-out transform hover:scale-105"
            />
        </div>
        <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">
            {service.title}
        </h3>
        <p class="mb-4 text-sm text-gray-500">
            {service.description}
        </p>
    </div>
    <div class="p-5 rounded-b-lg bg-gray-50">
        <div class="flex items-center justify-between mb-2">
            <span class="text-2xl font-bold text-primary-600">
                ${service.price.toFixed(2)}
            </span>
            <span class="text-sm text-gray-500">
                Category: {service.category}
            </span>
        </div>
        <div class="flex items-center">
            <StarRating rating={service.rating.rate} />
            <p class="ml-2 text-sm text-gray-700">
                {service.rating.rate} (
                {service.rating.count} reviews)
            </p>
        </div>
    </div>
</div>
