---
import { getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogList from "@/components/blog/BlogList.astro";
import TagList from "@/components/blog/TagList.astro";
import { useTranslations } from "@/i18n";
import {
    filterPublishedPosts,
    sortPostsByDate,
    getAllTags,
} from "../../scripts/utils";

export const getStaticPaths = (async ({ paginate }) => {
    const allPosts = await getCollection("blog");
    const publishedPosts = filterPublishedPosts(allPosts);
    const sortedPosts = sortPostsByDate(publishedPosts);
    const tags = getAllTags(allPosts);

    return paginate(sortedPosts, {
        pageSize: 12,
        props: { tags },
    });
}) satisfies GetStaticPaths;

interface Props {
    page: Page<CollectionEntry<"blog">>;
    tags: string[];
}

const { page, tags } = Astro.props;
const t = useTranslations();
const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: t("pages.blog.title"),
    pageDescription: t("pages.blog.description"),
    pageUrl: t("siteMetadata.url") + "/blog",
};
---

<BaseLayout {...metaProps}>
    <div class="mx-auto max-w-7xl">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <div class="lg:w-1/4">
                <h1 class="mb-4 text-4xl font-bold text-gray-900">
                    {metaProps.pageTitle}
                </h1>
                <div class="sticky top-8">
                    <h2 class="mb-4 text-xl font-bold text-gray-900">Tags</h2>
                    <TagList tags={tags} />
                </div>
            </div>
            <div class="lg:w-3/4">
                <BlogList
                    posts={page.data}
                    tags={tags}
                    showSidebar={false}
                    pager={page}
                />
            </div>
        </div>
    </div>
</BaseLayout>
