---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogList from "@/components/blog/BlogList.astro";
import TagList from "@/components/blog/TagList.astro";
import { useTranslations } from "@/i18n";
import {
    filterPublishedPosts,
    sortPostsByDate,
    getAllTags,
} from "../../scripts/utils";

const allPosts = await getCollection("blog");
const publishedPosts = filterPublishedPosts(allPosts);
const posts = sortPostsByDate(publishedPosts);
const tags = getAllTags(allPosts);
const t = useTranslations();
const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: t("pages.blog.title"),
    pageDescription: t("pages.blog.description"),
    pageUrl: t("siteMetadata.url") + "/blog",
};
---

<BaseLayout {...metaProps}>
    <div class="max-w-7xl mx-auto">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <div class="lg:w-1/4">
                <h1 class="text-4xl font-bold text-gray-900 mb-4">
                    {metaProps.pageTitle}
                </h1>
                <div class="sticky top-8">
                    <h2 class="text-xl font-bold text-gray-900 mb-4">Tags</h2>
                    <TagList tags={tags} />
                </div>
            </div>
            <div class="lg:w-3/4">
                <BlogList posts={posts} tags={tags} showSidebar={false} />
            </div>
        </div>
    </div>
</BaseLayout>
