---
import { useTranslations } from "@/i18n";
import { getCurrentThemeAttributes } from "@/scripts/themeConfig";
import { siteTitleClass } from "@/scripts/themeUtils";

const t = useTranslations();
const { header } = getCurrentThemeAttributes();
const { logo, siteTitle } = header;
const SiteTitleClass = siteTitleClass(siteTitle.class);
---

<a href="/" class="flex items-center space-x-3">
    {
        logo.visible && (
            <img
                src={logo.src}
                alt={logo.alt}
                class:list={[`h-${logo.height}`, `w-${logo.width}`]}
            />
        )
    }
    {
        siteTitle.visible && (
            <span class={SiteTitleClass}>{t("siteMetadata.title")}</span>
        )
    }
</a>
