---
import { useTranslations } from "@/i18n";
import { config } from "@/config/config";

const { footer } = config.navigation;
const currentYear = new Date().getFullYear();
const t = useTranslations();
---

<footer
    class:list={["mt-auto", footer.style.backgroundColor, footer.style.spacing]}
>
    <div class="container mx-auto">
        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="flex items-center mb-4 md:mb-0">
                {
                    footer.logo.visible && (
                        <img
                            src={footer.logo.src}
                            alt={footer.logo.alt}
                            class={`mr-3 h-${footer.logo.height} w-${footer.logo.width}`}
                        />
                    )
                }
                {
                    footer.copyright.visible && (
                        <p
                            class:list={[
                                footer.copyright.style.fontSize,
                                footer.copyright.style.fontWeight,
                                footer.copyright.style.textColor,
                            ]}
                        >
                            &copy; {currentYear} {t("siteMetadata.title")}. All
                            rights reserved.
                        </p>
                    )
                }
            </div>

            <nav class={`flex ${footer.navItems.style.spacing}`}>
                {
                    footer.navItems.links.map((link) => (
                        <a
                            href={link.href}
                            class:list={[
                                "transition duration-150",
                                footer.navItems.style.fontSize,
                                footer.navItems.style.fontWeight,
                                footer.navItems.style.textColor,
                                footer.navItems.style.hoverColor,
                            ]}
                        >
                            {link.text}
                        </a>
                    ))
                }
            </nav>
        </div>
    </div>
</footer>
