---
import BlogHeader from "@/components/blog/BlogHeader.astro";

export interface Props {
    post: {
        slug: string;
        data: {
            image?: {
                url: string;
                alt: string;
            };
            title: string;
            author: string;
            pubDate: Date;
            description: string;
        };
    };
}

const { post } = Astro.props;
---

<div class="pb-8 border-b border-gray-200">
    <BlogHeader
        title={post.data.title}
        description={post.data.description}
        author={post.data.author}
        pubDate={post.data.pubDate}
        image={post.data.image}
        isLink={true}
        slug={post.slug}
    />
    <a
        href={`/blog/${post.slug}`}
        class="font-medium text-primary-600 hover:text-primary-800"
    >
        Read more
    </a>
</div>
