---
import type { CollectionEntry } from "astro:content";
import BlogCard from "./BlogCard.astro";
import TagList from "@/components/blog/TagList.astro";
import Pagination from "@/components/Pagination.astro";

export interface Props {
    posts: CollectionEntry<"blog">[];
    tags: string[];
    showSidebar?: boolean;
    pager?: {
        currentPage: number;
        lastPage: number;
        url: {
            prev: string | undefined;
            next: string | undefined;
        };
    };
}

const { posts, tags, showSidebar = true, pager } = Astro.props;
---

<div class="mx-auto max-w-7xl">
    <div class="flex flex-col lg:flex-row lg:space-x-8">
        {
            showSidebar && (
                <div class="lg:w-1/4">
                    <div class="sticky top-8">
                        <h2 class="mb-4 text-xl font-bold text-neutral-900">
                            Tags
                        </h2>
                        <TagList tags={tags} />
                    </div>
                </div>
            )
        }
        <div class={showSidebar ? "lg:w-3/4" : "w-full"}>
            <div class="mb-12 space-y-10">
                {posts.length === 0 && <p>No posts found.</p>}
                {posts.map((post) => <BlogCard post={post} />)}
            </div>
            {
                pager && (
                    <Pagination
                        currentPage={pager.currentPage}
                        lastPage={pager.lastPage}
                        prevUrl={pager.url.prev}
                        nextUrl={pager.url.next}
                    />
                )
            }
        </div>
    </div>
</div>
