---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPostList from "@/components/BlogPostList.astro";
import TagList from "@/components/TagList.astro";
import { useTranslations } from "@/i18n";
import { getUniqueTags, filterPostsByTag } from "@/scripts/utils";

const t = useTranslations();

interface Props {
    posts: CollectionEntry<"blog">[];
    allTags: string[];
}

export async function getStaticPaths() {
    const allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
    const uniqueTags: string[] = getUniqueTags(allPosts);

    return uniqueTags.map((tag: string) => {
        const filteredPosts: CollectionEntry<"blog">[] = filterPostsByTag(
            allPosts,
            tag,
        );
        return {
            params: { tag },
            props: { posts: filteredPosts, allTags: uniqueTags },
        };
    });
}

const { tag } = Astro.params as { tag: string };
const { posts, allTags } = Astro.props as Props;

interface MetaProps {
    siteName: string;
    pageTitle: string;
    pageDescription: string;
    pageUrl: string;
}

const metaProps: MetaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: `Blog Posts Tagged "${tag}"`,
    pageDescription: `These are blog posts tagged with "${tag}"`,
    pageUrl: `${t("siteMetadata.url")}/tags/${tag}`,
};
---

<BaseLayout {...metaProps}>
    <div class="max-w-7xl mx-auto">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <div class="lg:w-1/4">
                <h1 class="text-4xl font-bold text-gray-900 mb-4">
                    {metaProps.pageTitle}
                </h1>
                <div class="sticky top-8">
                    <h2 class="text-xl font-bold text-gray-900 mb-4">Tags</h2>
                    <TagList tags={allTags} />
                </div>
            </div>
            <div class="lg:w-3/4">
                <BlogPostList
                    posts={posts}
                    tags={allTags}
                    showSidebar={false}
                />
            </div>
        </div>
    </div>
</BaseLayout>
