---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { AstroSeo } from "@astrolib/seo";

import "../styles/global.css";
const { pageTitle, pageDescription, pageUrl, siteName } = Astro.props;
---

<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <AstroSeo
            title={pageTitle}
            description={pageDescription}
            canonical={pageUrl}
            openGraph={{
                url: pageUrl,
                title: pageTitle,
                description: pageDescription,
                site_name: siteName,
            }}
        />

        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <h1>{pageTitle}</h1>
        <slot />
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
