---
import BaseLayout from "./BaseLayout.astro";
import TagList from "@/components/blog/TagList.astro";
import TableOfContents from "@/components/blog/TableOfContents.astro";
import BlogHeader from "@/components/blog/BlogHeader.astro";
import BlogPagination from "@/components/blog/BlogPagination.astro";
import { useTranslations } from "@/i18n";
import type { CollectionEntry } from "astro:content";

interface Frontmatter {
    author: string;
    description: string;
    image?: {
        url: string;
        alt: string;
    };
    pubDate: Date;
    tags: string[];
    title: string;
}

interface Props {
    frontmatter: Frontmatter;
    url: string;
    headings: {
        depth: number;
        text: string;
        slug: string;
    }[];
    prevPost: CollectionEntry<"blog"> | null;
    nextPost: CollectionEntry<"blog"> | null;
}

const { frontmatter, url, headings, prevPost, nextPost } = Astro.props;
const { author, description, image, pubDate, tags, title } = frontmatter;
const t = useTranslations();

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: title,
    pageDescription: description,
    pageUrl: t("siteMetadata.url") + url,
};

const hasTableOfContents = headings && headings.length > 0;
---

<BaseLayout {...metaProps} pageTitle={title}>
    <div class="mx-auto max-w-7xl">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <div class="lg:w-1/4">
                <nav class="mb-8">
                    <a
                        href="/blog"
                        class="text-primary-600 hover:text-primary-800"
                    >
                        &larr; Back to All Posts
                    </a>
                </nav>

                <div class="sticky space-y-8 top-8">
                    <div>
                        <h2 class="mb-4 text-xl font-bold text-gray-900">
                            Tags
                        </h2>
                        <TagList tags={tags} />
                    </div>

                    {
                        hasTableOfContents && (
                            <div>
                                <h2 class="mb-4 text-xl font-bold text-gray-900">
                                    Table Of Contents
                                </h2>
                                <div class="mb-8">
                                    <TableOfContents headings={headings} />
                                </div>
                            </div>
                        )
                    }
                </div>
            </div>

            <article class="lg:w-3/4">
                <BlogHeader
                    title={title}
                    description={description}
                    author={author}
                    pubDate={pubDate}
                    image={image}
                />

                <main
                    class="mb-8 prose prose-lg max-w-none prose-headings:text-gray-900 prose-a:text-primary-600 hover:prose-a:text-primary-800"
                >
                    <slot />
                </main>

                <BlogPagination prevPost={prevPost} nextPost={nextPost} />
            </article>
        </div>
    </div>
</BaseLayout>

<script>
    import { initSmoothScroll } from "../scripts/smoothScroll";
    initSmoothScroll('.toc a[href^="#"], .sidebar-nav a[href^="#"]');
</script>
