---
import BaseLayout from "./BaseLayout.astro";
import { useTranslations } from "../i18n";

const { frontmatter, url } = Astro.props;
const t = useTranslations();

const metaProps = {
    siteName: t("siteMetadata.title"),
    pageTitle: frontmatter.title,
    pageDescription: frontmatter.description,
    pageUrl: t("siteMetadata.url") + url,
};
---

<BaseLayout {...metaProps} pageTitle={frontmatter.title}>
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

    <p>Written by: {frontmatter.author}</p>

    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>

    <slot />
</BaseLayout>
